<form class="gh-form" data-members-form>
    <input class="gh-form-input" id="{{name_field_id}}" type="name" placeholder="홍길동" required data-members-name />
    <input class="gh-form-input" id="{{email_field_id}}" type="email" placeholder="gildong@example.com" required data-members-email>
    <button class="gh-button" type="submit" aria-label="Subscribe">
        <span><span>구독</span> {{> "icons/arrow"}}</span>
        {{> "icons/loader"}}
        {{> "icons/checkmark"}}
    </button>
    <p data-members-error></p>
</form>
